.app-nav {
    background-color: $clr1;
    height: 100vh;
    position: sticky;
    top: 0;

    .hr-line {
        width: 85%;
        margin: auto;
        margin-top: 10px;
        border-bottom: 0.1px solid rgb(78, 74, 74);
    }

    .logo {
        display: flex;
        align-items: center;
        margin: 20px;

        .logo-img {
            width: 140px;
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 700;
        margin-top: 30px;


        a {
            text-decoration: none;
            color: $fill;
            margin-left: 25px;
            padding: 5px 0;

            &.library-nav {
                margin-bottom: 20px;
            }

            span {
                font-family: montserrat-bold;
                margin-left: 20px;
                font-size: 13px;

                &.user-station {
                    margin-left: 0;
                }
            }

            &:hover {
                color: $clr2
            }

            &.active {
                color: $clr2;
            }
        }

        &.user-laylist-nav {
            margin-top: 5px;

            a {
                padding: 3px 0;

                span {
                    font-family: montserrat;

                }
            }
        }
    }


}