.app-nav {
    background-color: $clr1;
    height: 100vh;
    position: sticky;
    top: 0;

    .hr-line {
        width: 85%;
        margin: auto;
        margin-top: 10px;
        border-bottom: 0.1px solid rgb(78, 74, 74);
    }

    .logo {
        display: flex;
        align-items: center;
        margin: 20px;

        .logo-img {
            width: 140px;
        }
    }
}