.first-section-stations {
    display: grid;
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    width: 100%;
    gap: 20px;

    .first-section-station-preview {
        grid-column: span 1;
        display: flex;
        align-items: center;
        background-color: $song-bgc-home;
        border-radius: 4px;
        transition: .5s;
        
        
        >* {
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
        }

        p {
            margin-left: 15px;
            font-size: 14px;
            font-weight: bold;
        }

        &:hover {
            background-color: lighten($song-bgc-home, 10%);
        }
    }
}