.media-player {
    display: grid;
    grid-template-columns: 15px 2fr 1fr 4fr 1fr 2fr 15px;
    background-color: $mpclr;
    position: fixed;
    right: 0px;
    bottom: 0px;
    left: 0;
    width: 100vw;
    height: 92px;
    border-top: solid 1px hsla(0, 0%, 50%, 0.169);
    align-items: center;
    justify-content: center;

    .information {
        display: flex;
        width: 250px;
    }

    h4 {
        margin-top: 4px;
        color: $clr2;
        font-family: montserrat;
    }

    h5 {
        color: $bar-fill;
        font-family: montserrat;
    }

    img {
        width: 57px;
        height: 57px;
        margin-inline-end: 15px;
    }

    .controller {
        grid-column: 4;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .conrtoller-btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .conrtoller-btns>* {
        height: 20px;
        color: $bar-fill;
    }

    .play-pause {
        color: $clr2;
        height: 31px;
    }

    .player-progress-container {
        display: grid;
        grid-template-columns: 15px 5fr 15px;
        justify-items: center;
        align-items: center;
        font-size: 0.8275em;
        margin-top: 8px;
        width: 92%;
        min-width: 230px;
        color: $bar-fill;
        min-width: 230px;

        P {
            text-align: center;
            justify-content: center;
            width: 20px;
        }
    }

    .player-progress {
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
        justify-self: center;
        width: 94%;
        -webkit-appearance: none;
        background-color: $bar-fill;
        height: 3.5px;
        border-radius: 20px;
    }

    .player-progress:hover {
        cursor: pointer;
    }

    .actions-btns{
        display: flex;
        grid-column: 6;
        margin-left: 15px;
        margin-right: 15px;
    }

    .volume-range{
        max-width: 50%;
        -webkit-appearance: none;
        background-color: $bar-fill;
        height: 3.5px;
        border-radius: 20px;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        transition: all .2s;
        border: none;
        height: 8.5px;
        width: 10px;
        border-radius: 50%;
        background: $clr2;
        cursor: pointer;
        // transition: all .9s;
    }

    input[type=range]::-webkit-slider-thumb:hover {
        -webkit-appearance: none;
        border: none;
        height: 12px;
        width: 12px;
    }
}