.rest-section-stations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
    grid-template-rows: none;
    width: 100%;
    gap: 10px;
    padding-inline-start: $main-app-padding;

    a {
        text-decoration: none;
        color: white;
    }

    .rest-section-station-preview {
        background-color: darken($song-bgc-home , 4%);
        grid-column: span 1;
        border-radius: 6px;
        padding: 17px;
        transition: .5s;
        max-width: fit-content;

        &:hover .green-play-pause-btn {
            opacity: 1;
        }

        .img-container {
            border-radius: .5em;
            position: relative;
        }

        .green-play-pause-btn {
            @include green-play-pause-btn;
            position: relative;
            top: 130px;
            left: 130px;
        }


        h3 {
            font-size: 16px;
            font-weight: bold;
            color: $clr2;
            text-align: left;
            padding-top: 10px;
            height: 80px;
            margin-inline-start: 2px;
        }

        &:hover {
            background-color: lighten($song-bgc-home, 3%);
        }
    }

    // @media (max-width: 1020px) {
    //     grid-template-columns: repeat(3, 1fr);
    // }
}