.rest-section-stations {
    display: grid;
    grid-template-columns: repeat(auto-fit, 223px);
    grid-template-rows: none;
    width: 100%;
    gap: 24px;
    // padding-inline-start: $main-app-padding;

    a {
        text-decoration: none;
        color: white;
        // min-width: 100px;
        // max-width: 223px;
        // min-height: 256px;
        // max-height: 314px;
        height: 314px;
    }

    .rest-section-station-preview {
        display: flex;
        flex-direction: column;
        background-color: $song-bgc-home;
        grid-column: span 1;
        border-radius: 6px;
        padding: 17px;
        transition: .5s;
        max-width: fit-content;
        height: 100%;
        width: 100%;
        // justify-items: flex-end;

        &:hover .green-play-pause-btn {
            opacity: 1;
        }

        .img-container {
            border-radius: .5em;
            position: relative;
        }

        .green-play-pause-btn {
            @include green-play-pause-btn;
            position: absolute;
            bottom: 8px;
            right: 8px;
        }

        .description {
            font-size: 14px;
        }

        h3 {
            font-size: 16px;
            padding-top: 10px;
        }

        &:hover {
            background-color: lighten($song-bgc-home, 3%);
        }
    }

    // @media (max-width: 1020px) {
    //     grid-template-columns: repeat(3, 1fr);
    // }
}