.main-song-list {
    padding-inline-start: $main-app-padding;

    @media (max-width: $mobile-size) {
        padding-inline-start: 0;
    }
    .hr-line {
        width: 95%;
    }
}

.song-add {
    padding-inline-start: $main-app-padding;
    padding-top: $main-app-padding;
    width: 100%;

    @media (max-width: $mobile-size) {
        padding-inline-start: 0;
    }
}
