.songs-add {
    padding-inline-start: $main-app-padding;

    @media (max-width: $mobile-size) {
        padding-inline-start: 0;
    }
}

.songs-list {
    padding-inline-start: $main-app-padding;

    @media (max-width: $mobile-size) {
        padding-inline-start: 0;
    }
}