.songs-add {
    h2 {
        margin-bottom: 20px;
    }
}

.songs-list {
    margin-bottom: 20px;

    .song-preview {
        grid-template-columns: 40px 2fr 1fr 80px 80px;
        width: 100%;
        display: grid;
        height: 60px;

        &.songs-list-header {
            font-size: 14px;
            font-weight: 700;
            color: $fill;
            border-bottom: .5px solid rgb(44, 44, 44);
            text-transform: uppercase;

            >:last-child {
                padding-left: 3px;
            }
        }

        >* {
            align-self: center;
            padding: 5px 0;
        }

        .song-number {
            grid-column: 1;
        }

        .song-img-title {
            display: flex;
            grid-column: 2;

            .song-title {
                margin-left: 10px;
            }
        }

        .song-date {
            justify-self: center;
            grid-column: 3;
        }

        .song-actions {
            display: flex;
            justify-content: space-between;
            grid-column: 4;
        }

        .song-duration {
            grid-column: 5;
        }
    }
}