.main-home {
    margin-top: 80px;
    h1 {
        font-size: 28px;
        font-weight: 900;
        margin-bottom: 20px;
    }

    .home-playlists {
        display: grid;
        grid-template-columns: repeat( auto-fit, minmax(260px, 1fr) );
        grid-template-rows: 72px 72px;
        width: 100%;
        gap: 10px;
        
        
        .playlist-preview {
            grid-column: span 1;
            grid-row: span 1;
            display: flex;
            align-items: center;
            background-color: $song-bgc-home;
            border-radius: 5px;
            transition: .5s;
            
            img {
                width: 70px;
                height: 70px;
                object-fit: cover;
                border-radius: 5px;
            }

            p {
                margin-left: 15px;
                font-size: 14px;
                font-weight: bold;
            }

            &:hover {
                background-color: lighten($song-bgc-home, 10%);
            }
        }
    }
}