.main-home {
    .home-playlists {
        display: flex;
        flex-wrap: wrap;

        .playlist-preview {
            display: flex;
            align-items: center;
            width: 250px;
            background-color: $song-bgc-home;
            border-radius: 10px;
            margin: 10px;
            transition: .5s;
            img{
                width: 70px;
                height: 70px;
                object-fit: cover;
            }
            p{
                margin-left: 15px;
                font-size: 14px;
                font-weight: bold;
            }
            &:hover{
                background-color: lighten($song-bgc-home, 10%);
            }
        }
    }
}