.liked-songs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:  6rem 12rem 24rem;
  grid-row-gap: 20px;
  grid-template-areas: 
    "login"
    "header"
    "main";

  .login-signout {
    grid-area: login;
  }
  
  .liked-header {
    grid-area: header;
    padding: 1rem;

    .img-wrapper{

      width:200px;
      border: 1px solid;
    }
  }
  
  .main-liked-songs {
    grid-area: main;

  }

}