.main-search {
    padding: 0 $main-app-padding;

    .search-container {
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 64px;
        width: 365px;
        background-color: $clr2;
        height: fit-content;
        margin-bottom: 24px;
        border-radius: 24px;

        .main-input-search {
            background-color: $clr2;
            color: $clr1;
        }

        .main-input-search::placeholder {
            color: $fill;
        }

        .svg-wrapper {
            margin-left: 10px;
        }

        .search-svg {
            position: absolute;
            top: 25%;
            transform: translateY(-25%);
            stroke: #bfbfbf;
        }
    }

    .search-input::placeholder {
        color: #bfbfbf;
    }

    .search-input {
        background-color: hsla(0, 0%, 100%, .1);
        color: #bfbfbf;
        outline: none;
        border: none;
        width: 315px;
        font-size: 16px;
        font-weight: 400;
        padding: 10px;
    }

    .search-results {
        display: flex;
        flex-direction: column;
    }
}

.genres{
    h1{
        font-size: 20px;
        margin-bottom: 25px;
    }
}

.ganres-section{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 25px;

    >*{
        grid-column: span 1;

        img{
            border-radius: .5em;
        }
    }
}