* {
    box-sizing: border-box;
}

html {
    font-family: montserrat;
    color: $white;
    line-height: 1.8;

    @media (max-width: 1300px) {
        font-size: 13px;
    }
}

body {
    margin: 0;
    background-color: $bgc-main;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0;
    line-height: lh(40px, 29px);
    color: $white;
}
